body{
    background-color: rgba(255, 255, 255, 0.945);
    width: 100%;
    margin: 0;
}

header{
    display: flex;
    height: 6vh;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    width: 100%;

}

header nav{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    margin-right:10px;
    
}
header img{
    height: 35px;
}
header nav a{
    font-family:'Fredoka' ;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px;
    color: #f7b764;
}
header nav a:hover{
    color: #fffefc;
}
header nav button{
    border:none;
    background-color:#8E1CAB;
    border-radius:20px;   
    width: 80px;
    padding-bottom: 5px;
    margin-top: 7px;
    
    height:100%;
}
header nav button a{
    color: white;
    text-align: center;
    font-size: 15px;
}

header nav button:hover{
    background-color: #FB950B;
}
header nav button a:hover{
    color: #ffffff;
}

/*container-home*/

.container-home {
    display: flex;
    background-size: cover;
    height: 100vh;
    width: 100%;
    justify-content: space-between;

    position: relative; /* Para permitir que o carrossel se posicione sobre o fundo */
    overflow: hidden; /* Garante que nada saia da área visível */
}

.container-home .texto {
    padding-left: 20vh; /* Ajuste o padding para o texto não ficar muito longe */
    padding-top: 10vh;
    color: white; /* Para garantir que o texto seja visível */
    z-index: 2; /* Coloca o texto acima da imagem */
}

.container-home .carrossel {
    position: absolute; /* Posiciona o carrossel em relação ao contêiner */
    bottom: 0; /* Faz a imagem começar da parte inferior */
    right: 0;
    width: 100%; /* O carrossel ocupa 50% da largura do contêiner */
    height: 100%; /* A altura do carrossel será igual à altura do contêiner */
    overflow: hidden; /* Esconde as imagens fora da área do carrossel */
    z-index: 1; /* Garante que o carrossel fique abaixo do texto */
}

.carrossel-imagens {
    display: flex;
    animation: slide 17s infinite; /* Controla a animação */
    background-size: cover;
}

.carrossel-imagens img {
    width: 100%; /* Imagens ocupam toda a largura do carrossel */
    height: 100vh; /* Imagens terão a mesma altura que o contêiner */
    object-fit: cover; /* Faz as imagens se ajustarem proporcionalmente ao tamanho do carrossel */
}

/* Animação de transição entre as imagens */

@keyframes slide {
    0% {
        transform: translateX(0); /* A primeira imagem começa visível */
    }
    25% {
        transform: translateX(-100%); /* A primeira imagem sai da tela pela esquerda */
    }
    50% {
        transform: translateX(-100%); /* A segunda imagem entra pela direita */
    }
    75% {
        transform: translateX(-200%); /* A segunda imagem sai pela esquerda */
    }
    100% {
        transform: translateX(0); /* A terceira imagem volta à posição inicial */
    }
}

/*buttons*/
.buttons {
    position: absolute; /* Coloca os botões sobre o carrossel */
    bottom: 10%; /* Ajuste para posicionamento */
    left: 50%;
    transform: translateX(-50%); /* Centraliza os botões */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    z-index: 3; 

}

.buttons button {
    background-color: #8E1CAB;
    border-radius: 20px;
    border: none;
    width: 35vh;
    height: 5vh;
    opacity: 0.9; /* Deixa um pouco transparente para parecer integrado */
}

.buttons button:hover {
    background-color: #000000c2;
}

.buttons button a {
    text-decoration: none;
    font-family: 'Fredoka';
    color: white;
    font-size: 25px;
}


/*sobre*/

.About{
    display: flex;
    padding: 20vh 20vh;
    background-color: #FB950B;
    justify-content: space-around;
}
.About .texto{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.About h1{
    font-family: 'Fredoka';
    font-weight: 300;
    font-size: 20px;
    color: white;
    margin-top: 25px;
    letter-spacing: 5px;
}

.About h2{
    font-family: 'Fredoka';
    font-weight: 600;
    text-align: justify;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-size: 40px;
    color: white;
    margin-top: -20px;
    letter-spacing: -1px;
}
.About h3{
    font-family: "Fredoka";
    color: white;
    text-align: justify;
    width: 70%;
    margin-top: -20px;
    font-weight: 200;
}
.About button{
    border: none;
    border-radius: 15px;
    background-color: #8E1CAB;
    width: 30vh;
    margin-top: 10px;
    height: 5vh;
}
.About button a{
    color: white;

    font-family: 'Fredoka';
    text-decoration: none;
}
.About .imagem{
    display: flex;
    justify-content: center;
    
}
.About img{
    height: 60vh;
    width: 80vh;
    justify-content: center;
    border-radius: 20px;
}